@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-color:#102D49;
    --secundary-color:#8F9EBA;
    --action-color:#8FD1BE;
    --action-color-secundary:#E6A040;
}
body{
    background-color: #F3F3F3;
}
ul {
    list-style: none;
}

a{
    text-decoration: none;
}